<h2>
  <%= @article.title %>
</h2>
<div>
    <%= image_tag(@article.image, height: '280', width: '580', class: 'mx-auto d-block') %>
</div>
<p class="mx-auto mt-4 text-show text-justify">
  <%= @article.text %>
</p>
<p class="mx-auto mt-4 text-show text-justify">
  <%= link_to 'Back', categories_path %>
</p>