body {
    font-family: 'Lora', serif;
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
}


ul {
    list-style-type: none;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

h2, .text_orange, .text_orange:hover {
    color: #f96338;
}
a, a:hover, .text_gray {
    color: #4e443e;
}

.actions {
    margin: 20px 0px;
}
.navbar-links, .navbar-links:hover {
    color: #4e443e;
}

.form-wrapper {
    display: block;
    width: 30%;
    margin: auto;
}

.category-image {
    height: 30vh;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
}

.category-image a{
    font-weight: bolder;
    color: white;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 1.5px;
}

footer {
    background-color: #4e443e;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.first-row {
    height: 60vh;
}

.effect {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #f9e83d;
}

.header-effect:hover {
    text-decoration: none;
}

.header-effect:hover + .effect {
  width: 75px;
  transition: width 1.5s;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
