<main class="container-fluid">
	<div class="row">
		<article class="first-row main-article col-9"></article>
		<div class="first-row wheather col-3"></div>
		<% @categories.each do |c| %>
			<div class= "col-3 category-image" style="background-image: url(<%= last_article_image(c) %>)">
				<%= link_to "#{c.name}", category_path(c), :class => "category-view header-effect"%>
				<span class= "effect"></span>
			</div>
		<% end %>
		</div>
	</div>
</main>