<div class="right">
    <%= link_to "LOGIN", new_user_session_path, :class =>  "pr-2 navbar-links" %> |
    <%= link_to "REGISTER", new_user_registration_path, :class => "pr-2 navbar-links" %> 
</div>