<article class="first-row main-article col-12 p-0" style="background-image: url(<%= image_url('default.jpg') %>)">
    <div class="cover-gradient p-4 d-flex flex-column justify-content-end">
        <p class="main-title text_orange text-right text-uppercase"> Write an Article </p> 
        <p class = "article_text text-right text-white"> "Do you wanna publish amazing articles on our magazine? Please create a new article" </p>
    </div>
</article>